{% if form.errors %}
<p>Tu usuario y contraseña son incorrectos. Por favor intentalo de nuevo.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Tu cuenta no tiene acceso a esta página. Para continuar,
    por favor ingresa con una cuenta que tenga acceso.</p>
{% else %}
<p>Por favor ingresa para ver esta página.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </div>
    <div>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </div>

    <div>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>


<p><a href="{% url 'password_reset' %}">Olvide mi contraseña</a></p>