{% extends "smarthome/base.html" %}

{% load static %}
{% load humanize %}

{% block title %}Publicar inmueble{% endblock %}

{% block content %}
    <div class="site-section site-section-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-11 mx-auto bg-white">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2 class="text-info">Ingrese los datos solicitados</h2>
                        <hr>
                        {{ form.as_p }}
                        {{ formset.management_form }}
                        <h5 class="text-secondary">Adjuntar imágenes del inmueble</h5><br>
                        {{ formset.as_p }}
                        <button type="submit"
                            class="save btn btn-primary float-lg-right float-md-right">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
